.blog-body-container{
    margin-top: 0 !important;
}

.blog-body-wrapper {
    max-width: 996px !important;
}

.blog-body {
    max-width: 996px !important;
    font-family: Manrope;
}

.blog-data p{
    margin-bottom: 24px !important;
    color: #1d476e;
    font-weight: 400;
    font-size: 16px;
}

.blog-body a:any-link {
    color: #1d476e;
    text-decoration: underline;
    overflow-wrap: break-word;
    font-weight: 700;
}

.blog-body h2{
   font-size: 20px;
   font-weight: bold;
   font-family: Manrope;
   margin-bottom: 24px !important;
   color: #1d476e;
}

.blog-pill{
    background-color: #F2F8FF;
    border-radius: 4px;
    color: #0A3252;
    display: inline-block;
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin: 1.5rem 0 1rem;
    padding: 6px 16px;
}

.blog-pill p{
    margin: 0 !important;
}

.blog-heading div p{
    margin-top: 0 !important;
    margin-bottom: 16px !important;
    font-weight: bold;
    color: #022a48;
    font-size: 24px;
}

.blog-date{
    display: flex;
    gap: 8px;
    color: #094771;
}

.blog-date div:first-child p{
    border-right: 1px solid #D9D9D9;
    padding-right: 8px;
}

.blog-date p{
  margin-top: 0px !important;
  font-size: 16px;
}

.faq-ques {
    margin-bottom: 0px !important;
    color: #1d476e;
    font-weight: 400;
    font-size: 16px;
}

.faq-ans {
    margin-top: 0px !important;
    color: #1d476e;
    font-weight: 400;
    font-size: 16px;
}

.blog-foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

.help-icon {
  display: flex;
  align-items: center;
  border: 1px solid #0a66c2;
  border-radius: 8px;
  padding: 6px 12px;
  color: #0a66c2;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.help-icon:hover {
  background-color: #eaf4ff;
}

.help-icon::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../../images/like-blue.svg'); /* Replace with your image URL */
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 6px;
  vertical-align: middle;
}

.help-icon p{
    margin: 0 !important;
}

.help-desc {
  margin-left: 10px;
  color: #333;
  font-size: 14px;
}

.share-icon {
  margin-left: auto;
  background-color: #1272e2;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.share-icon img {
  width: 24px;
  height: 24px;
  display: block;
}
